<div
  *ngIf="message"
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<ion-content [fullscreen]="true">
  <form #formLogin="ngForm">
    <div class="container">
      <h1>Sportfy</h1>
      <p>Acesse a sua conta.</p>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input
            type="text"
            name="username"
            id="username"
            placeholder="Usuário"
            [(ngModel)]="login.username"
            #username="ngModel"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input
            type="password"
            name="password"
            id="password"
            placeholder="Senha"
            [(ngModel)]="login.password"
            #password="ngModel"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="logar()"> Entrar </ion-button>
      <p>Não tem uma conta? <a routerLink="/cadastro">Cadastrar</a></p>
    </div>
  </form>
</ion-content>
