<div>
  <ul>
    <li *ngFor="let esporte of estatisticasEsportivas" class="modalidade">
      <ul>
        <li
          *ngFor="let estatistica of esporte.estatisticas"
          class="item-lista"
          [ngClass]="{
            'meta-esportiva': esporte.esporte.includes('Metas Esportivas'),
            'meta-diaria': esporte.esporte.includes('Diárias'),
            'meta-geral':
              !esporte.esporte.includes('Metas Esportivas') &&
              !esporte.esporte.includes('Diárias'),
            'meta-completo': estatistica.completo,
            'meta-incompleto': !estatistica.completo
          }"
        >
          <div class="estatistica-info">
            <h3
              [ngClass]="{
                'titulo-completo': estatistica.completo,
                'titulo-incompleto': !estatistica.completo
              }"
            >
              {{ estatistica.titulo }}
              <span class="texto-light">{{ esporte.esporte }}</span>
            </h3>
            <p class="estatistica-descricao">
              Descrição: {{ estatistica.descricao }}
            </p>
            <p class="estatistica-progresso">
              Progresso: {{ estatistica.progresso }} /
              {{ estatistica.objetivo }}
            </p>
            <p class="estatistica-objetivo">
              Desempenho: 15% da conquista completa
            </p>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
