body {
  background-color: #121212;
  font-family: "Arial", sans-serif;
}

p,
li {
  color: var(--text-white);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div {
  margin-top: 15px;
}

.item-lista {
  background-color: var(--background-dark);
  border-radius: 8px;
  padding: 1rem;
  // padding-top: 0;
  margin-bottom: 1rem;
  color: var(--text-white);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s, transform 0.3s, z-index 0.3s;
  position: relative;
  z-index: 1;
}

.item-lista:hover {
  // background-color: var(--background-dark);
  transform: translateY(-2px);
  z-index: 10;
}

.meta-esportiva {
  border-right: 3px solid var(--purple-desc);
  border-bottom: 2px solid var(--purple-desc);
}

.meta-diaria {
  border-right: 3px solid var(--yellow-desc);
  border-bottom: 2px solid var(--yellow-desc);
}

.meta-geral {
  border-right: 3px solid var(--text-new-green);
  border-bottom: 2px solid var(--text-new-green);
}

.meta-completo {
  border-color: var(--text-new-green);
}

.meta-incompleto {
  border-color: var(--light-red);
}

.titulo-completo {
  color: var(--text-new-green);
}

.titulo-incompleto {
  color: var(--light-red);
}

.item-lista p {
  margin: 0;
}

h3 {
  margin: 0;
  color: var(--text-white);
  text-align: center;
  margin-bottom: 1rem;
}

.btn-inscrever-se {
  margin-right: 5px;
}

.estatistica-info {
  flex: 1;
}

.titulo-esportiva {
  color: var(--purple-desc);
}

.titulo-diaria {
  color: var(--yellow-desc);
}

.titulo-geral {
  color: var(--text-new-green);
}

.texto-light {
  font-size: 0.8rem;
  color: var(--text-light);
}

.item-lista h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-lista .estatistica-info {
  margin-top: 1rem;
}

.btn-inscrever-se {
  margin-left: 5px;
}

.icon-align {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.icon-align lucide-angular {
  margin-right: 5px;
}

.icon-align p {
  margin: 0;
  color: var(--text-white);
  font-size: 1rem;
}

/* Novas classes para cor dos ícones */
.icon-completo {
  color: var(--text-new-green); /* Verde para completo */
}

.icon-incompleto {
  color: var(--light-red); /* Vermelho para incompleto */
}
