<div>
  <ul>
    <li *ngFor="let esporte of estatisticasEsportivas">
      <h3>{{ esporte.esporte }}</h3>
      <ul>
        <li *ngFor="let estatistica of esporte.estatisticas" 
            class="estatistica"
            [ngClass]="{'completo': estatistica.completo, 'incompleto': !estatistica.completo}">
          
          <div class="estatistica-info">
            <p class="estatistica-nome">Titulo: {{ estatistica.titulo }}</p>
            <p class="estatistica-descricao">Descrição: {{ estatistica.descricao }}</p>
            <p class="estatistica-progresso">Progresso: {{ estatistica.progresso }}</p>
            <p class="estatistica-objetivo">Objetivo: {{ estatistica.objetivo }}</p>
          </div>
          
          <!-- <img
            alt="{{ estatistica.titulo }}"
            [src]="estatistica.link"
            class="estatistica-imagem"
          /> -->
        </li>
      </ul>
    </li>
  </ul>
</div>
