<ion-content class="ion-padding" [fullscreen]="true">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <div class="margin-tab">
    <ion-textarea
      class="input-space styled-textarea titulo-input"
      label="Título"
      labelPlacement="floating"
      placeholder="Digite o título (máx 50 caracteres)"
      maxlength="50"
    ></ion-textarea>

    <ion-textarea
      class="input-space styled-textarea message-input"
      label="Mensagem"
      labelPlacement="floating"
      placeholder="Digite sua mensagem (máx 150 caracteres)"
      maxlength="150"
    ></ion-textarea>

    <ion-toast
      trigger="open-toast"
      message="Post criado com sucesso, redirecionando..."
      [duration]="2500"
    ></ion-toast>

    <div class="input-space">
      <div class="custom-select-wrapper">
        <select
          class="custom-select"
          id="modalidade-select"
          (change)="onSelectChange($event)"
        >
          <option value="futebol" selected>Futebol</option>
          <option value="volei">Vôlei</option>
          <option value="basquete">Basquete</option>
          <option value="ping-pong">Ping Pong</option>
        </select>
      </div>
    </div>

    <ion-button
      size="small"
      id="open-toast"
      class="btn-enviar"
      (click)="voltarComunidadePostCriado()"
    >
      Enviar
    </ion-button>
    <ion-button
      size="small"
      class="btn-voltar"
      (click)="voltarComunidadeSemCriarPost()"
    >
      Voltar
    </ion-button>
  </div>
</ion-content>
