ion-label {
  color: #0daf7f;
}

ion-segment {
  margin-top: 2.5rem;
  --background: #121214;
}

div {
  h2,
  p {
    color: white;
  }
}

.toggle {
  display: flex;
  justify-content: center;
}

ion-toggle {
  margin-top: 15px;
  gap: 15px;

  color: #fff;
  --handle-width: 20px;
  --handle-height: 20px;

  --handle-max-height: auto;

  --track-background: #d2caca;
  --track-background-checked: #333337;
  --handle-background: #fff;
  --handle-background-checked: #0daf7f;
}

ion-toggle::part(track) {
  height: 20px;
  width: 36px;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}
