<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="criacao">
      <ion-label>Criação</ion-label>
    </ion-segment-button>
    <ion-segment-button value="listagem-campeonatos">
      <ion-label>Listagem</ion-label>
    </ion-segment-button>
    <ion-segment-button value="historico-campeonatos">
      <ion-label>Histórico</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'criacao'">
    <div class="container">
      <ul>
        <li class="item-lista">
          <ion-label>Título</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.titulo"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>Aposta</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.aposta"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>Limite de participantes</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.limiteParticipantes"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>Descrição</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.descricao"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>Início</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.inicio"
            placeholder="Selecione a data"
            readonly
            (click)="toggleInicioPicker()"
          >
            <ion-icon
              name="calendar"
              (click)="toggleInicioPicker()"
              slot="end"
            ></ion-icon>
          </ion-input>

          <ion-datetime
            *ngIf="showInicioPicker"
            [(ngModel)]="campeonato.inicio"
            displayFormat="DD/MM/YYYY"
            pickerFormat="DD/MM/YYYY"
            (ionCancel)="showInicioPicker = false"
            (ionChange)="showInicioPicker = false"
          >
          </ion-datetime>
        </li>
        <li class="item-lista">
          <ion-label>Fim</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.fim"
            placeholder="Selecione a data"
            readonly
            (click)="toggleFimPicker()"
          >
            <ion-icon
              name="calendar"
              (click)="toggleFimPicker()"
              slot="end"
            ></ion-icon>
          </ion-input>

          <ion-datetime
            *ngIf="showFimPicker"
            [(ngModel)]="campeonato.fim"
            displayFormat="DD/MM/YYYY"
            pickerFormat="DD/MM/YYYY"
            (ionCancel)="showFimPicker = false"
            (ionChange)="showFimPicker = false"
          >
          </ion-datetime>
        </li>
        <li class="item-lista">
          <ion-label>Logradouro</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.logradouro"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>Bairro</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.bairro"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>Complemento</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.complemento"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>Cidade</ion-label>
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.cidade"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>UF</ion-label>
          <ion-input ngDefaultControl [(ngModel)]="campeonato.uf"></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>CEP</ion-label>
          <ion-input ngDefaultControl [(ngModel)]="campeonato.cep"></ion-input>
        </li>
      </ul>
      <ion-button
        id="open-toast"
        expand="small"
        class="centered-button"
        (click)="salvarDados()"
      >
        <lucide-angular
          [img]="Pencil"
          class="btn-inscrever-se"
          [size]="20"
        ></lucide-angular>
        Criar</ion-button
      >
      <ion-toast
        trigger="open-toast"
        message="Dados de perfil atualizados!"
        [duration]="3000"
      ></ion-toast>
    </div>
  </div>

  <div *ngIf="selectedSegment === 'listagem-campeonatos'">
    <app-listagem-campeonatos></app-listagem-campeonatos>
  </div>

  <div *ngIf="selectedSegment === 'historico-campeonatos'">
    <app-historico-campeonatos></app-historico-campeonatos>
  </div>
</ion-content>
