<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="criacao">
      <ion-label>Criação</ion-label>
    </ion-segment-button>
    <ion-segment-button value="listagem-campeonatos">
      <ion-label>Listagem</ion-label>
    </ion-segment-button>
    <ion-segment-button value="historico-campeonatos">
      <ion-label>Histórico</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'criacao'">
    <div class="container">
      <ul>
        <li class="item-lista">
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.titulo"
            placeholder="Título"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.aposta"
            placeholder="Aposta"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.limiteParticipantes"
            placeholder="Limite de participantes"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.descricao"
            placeholder="Descrição"
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.inicio"
            placeholder="Data inicio"
            readonly
            (click)="toggleInicioPicker()"
          >
            <ion-icon
              name="calendar"
              (click)="toggleInicioPicker()"
              slot="end"
            ></ion-icon>
          </ion-input>

          <ion-datetime
            *ngIf="showInicioPicker"
            [(ngModel)]="campeonato.inicio"
            (ionCancel)="showFimPicker = false"
            (ionChange)="showFimPicker = false"
          ></ion-datetime>
        </li>
        <li class="item-lista">
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.fim"
            placeholder="Data fim"
            readonly
            (click)="toggleFimPicker()"
          >
            <ion-icon
              name="calendar"
              (click)="toggleFimPicker()"
              slot="end"
            ></ion-icon>
          </ion-input>

          <ion-datetime
            *ngIf="showFimPicker"
            [(ngModel)]="campeonato.fim"
            displayFormat="DD/MM/YYYY"
            pickerFormat="DD/MM/YYYY"
            (ionCancel)="showFimPicker = false"
            (ionChange)="showFimPicker = false"
          ></ion-datetime>
        </li>
        <li class="item-lista">
          <div class="input-container">
            <ion-input
              ngDefaultControl
              [(ngModel)]="campeonato.cep"
              mask="000000-000"
              placeholder="CEP"
              (ngModelChange)="validarCep()"
            ></ion-input>
            <ion-button
              (click)="pesquisarCep(campeonato.cep)"
              [disabled]="!isCepValid"
              fill="outline"
              class="cep-button"
            >
              <lucide-angular
                [img]="Search"
                class="btn-inscrever-se"
                [size]="20"
                [color]="'var(--background-dark)'"
              ></lucide-angular>
            </ion-button>
          </div>
        </li>

        <li class="item-lista">
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.logradouro"
            placeholder="Logradouro"
            readonly
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-input
            ngDefaultControl
            placeholder="Número"
            [(ngModel)]="campeonato.numero"
          ></ion-input>
        </li>
        <li class="item-lista">
          <div class="input-container">
            <ion-input
              ngDefaultControl
              [(ngModel)]="campeonato.cidade"
              placeholder="Cidade"
              style="flex: 4; margin-right: 10px"
              readonly
            ></ion-input>
            <ion-input
              ngDefaultControl
              [(ngModel)]="campeonato.uf"
              placeholder="UF"
              style="flex: 1"
              readonly
            ></ion-input>
          </div>
        </li>
        <li class="item-lista">
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.bairro"
            placeholder="Bairro"
            readonly
          ></ion-input>
        </li>
        <li class="item-lista">
          <ion-input
            ngDefaultControl
            [(ngModel)]="campeonato.complemento"
            placeholder="Complemento"
          ></ion-input>
        </li>
      </ul>
      <ion-button
        id="open-toast"
        expand="small"
        class="centered-button"
        (click)="salvarDados()"
      >
        <div class="icon-align">
          <lucide-angular
            [img]="Pencil"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--background-dark)'"
          ></lucide-angular>
          <p>Criar</p>
        </div>
      </ion-button>
    </div>
  </div>

  <div *ngIf="selectedSegment === 'listagem-campeonatos'">
    <app-listagem-campeonatos></app-listagem-campeonatos>
  </div>

  <div *ngIf="selectedSegment === 'historico-campeonatos'">
    <app-historico-campeonatos></app-historico-campeonatos>
  </div>
</ion-content>
