<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <h3>
    <lucide-angular
      [img]="EyeOff"
      class="btn-inscrever-se"
      [size]="20"
      color="var(--text-green)"
    ></lucide-angular>
    Privacidade
  </h3>

  <div class="toggle">
    <ion-toggle
      id="open-toast6"
      labelPlacement="end"
      [(ngModel)]="privacidades.mostrarHistoricoCampeonatos"
      (ionChange)="mostrarEstadoToggle(privacidades.mostrarHistoricoCampeonatos)"
    ></ion-toggle>
    <ion-text>
      Permitir que outros usuários acessem o meu histórico de campeonatos
    </ion-text>
    <ion-toast
      position="top"
      trigger="open-toast6"
      message="2 Privacidade atualizada."
      [duration]="3000"
    ></ion-toast>
  </div>

  <div class="toggle">
    <ion-toggle
      id="open-toast5"
      labelPlacement="end"
      [(ngModel)]="privacidades.mostrarEstatisticasModalidadesEsportivas"
      (ionChange)="mostrarEstadoToggle(privacidades.mostrarEstatisticasModalidadesEsportivas)"
    ></ion-toggle>
    <ion-text>
      Permitir que outros usuários vejam as minhas estatísticas de desempenho
      esportivas
    </ion-text>
    <ion-toast
      position="top"
      trigger="open-toast5"
      message="1 Privacidade atualizada."
      [duration]="3000"
    ></ion-toast>
  </div>

  <div class="toggle">
    <ion-toggle
      id="open-toast8"
      labelPlacement="end"
      [(ngModel)]="privacidades.mostrarConquistas"
      (ionChange)="mostrarEstadoToggle(privacidades.mostrarConquistas)"
    ></ion-toggle>
    <ion-text>Permitir que outros usuários vejam as minhas conquistas</ion-text>
    <ion-toast
      position="top"
      trigger="open-toast8"
      message="4 Privacidade atualizada."
      [duration]="3000"
    ></ion-toast>
  </div>

  <ion-button (click)="atualizarPrivacidade()" size="small" expand="block" class="icon-button">
    <div class="text-container">Salvar</div>
    <div class="icon-align">
      <lucide-angular
        [img]="SaveAll"
        class="btn-inscrever-se"
        [size]="20"
      ></lucide-angular>
    </div>
  </ion-button>
</ion-content>
