ion-content {
  --background: #121214;
}

div {
  h2,
  p {
    color: white;
  }
}

ion-segment {
  --background: #202024;
  color: #0daf7f;
}

ion-searchbar {
  color: #7b7b7b;
  --background: #202024;
  margin-top: 2rem;
}

