<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <ion-searchbar
    [(ngModel)]="searchTerm"
    animated="true"
    placeholder="Procurar"
  ></ion-searchbar>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="campeonatos">
      <ion-label>Campeonatos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="posts">
      <ion-label>Posts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jogadores">
      <ion-label>Jogadores</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'campeonatos'">
    <div class="aberto-finalizado">
      <ion-toggle
        labelPlacement="end"
        [(ngModel)]="statusToggles.aberto"
        (ionChange)="updateStatus('aberto', $event)"
        >Abertos</ion-toggle
      >
      <ion-toggle
        labelPlacement="end"
        [(ngModel)]="statusToggles.finalizado"
        (ionChange)="updateStatus('finalizado', $event)"
        >Finalizados</ion-toggle
      >
    </div>
    <div class="iniciado">
      <ion-toggle
        labelPlacement="end"
        [(ngModel)]="statusToggles.iniciado"
        (ionChange)="updateStatus('iniciado', $event)"
        >Iniciados</ion-toggle
      >
    </div>
    <app-listagem-campeonatos
      [statusToggles]="statusToggles"
      [searchedCampeonatos]="searchTerm"
    ></app-listagem-campeonatos>
  </div>

  <div *ngIf="selectedSegment === 'posts'">
    <div class="criar-post">
      <ion-button size="small" (click)="criarPost()">Criar Post</ion-button>
    </div>
    <app-posts [searchedPosts]="searchTerm"></app-posts>
  </div>

  <div *ngIf="selectedSegment === 'jogadores'">
    <app-jogador [searchedJogadores]="searchTerm"></app-jogador>
  </div>
</ion-content>
