body {
  background-color: #121212; /* Cor de fundo da página */
  font-family: "Arial", sans-serif; /* Fonte mais legível */
}

p,
li {
  color: white; /* Cor do texto */
}

ul {
  margin: 0; /* Remove margem padrão */
  padding: 0; /* Remove padding padrão */
  list-style-type: none; /* Remove os marcadores da lista */
}

div {
  margin-top: 15px;
}

li {
  border: none; /* Remove borda padrão */
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 8px; /* Bordas mais arredondadas */
  padding: 1rem; /* Uniformizar o padding */
  margin-bottom: 1rem; /* Espaçamento entre os itens */
  background: linear-gradient(
    135deg,
    rgba(13, 175, 127, 0.2),
    rgba(13, 175, 127, 0.4)
  ); /* Fundo com gradiente */
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* Sombra clara para destaque */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
  display: flex; /* Usar flexbox para alinhar ícones e texto */
  align-items: center; /* Alinha os itens no centro verticalmente */
  justify-content: center;
}

li:hover {
  background: linear-gradient(
    135deg,
    rgba(13, 175, 127, 0.4),
    rgba(13, 175, 127, 0.6)
  ); /* Destaque ao passar o mouse */
  transform: translateY(-2px); /* Leve elevação ao passar o mouse */
}

.estatistica-icone {
  margin-right: 12px; /* Espaçamento entre ícone e texto */
  font-size: 1.5rem; /* Tamanho do ícone */
  color: var(--light-blue); /* Cor do ícone */
}
