<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <div class="container">
    <ul>
      <li class="item-lista">
        <ion-label>Nome</ion-label>
        <ion-input [(ngModel)]="usuario.nome"></ion-input>
      </li>
      <li class="item-lista">
        <ion-label>Username</ion-label>
        <ion-input [(ngModel)]="usuario.username"></ion-input>
      </li>
      <li class="item-lista">
        <ion-label>Email</ion-label>
        <ion-input [(ngModel)]="usuario.email"></ion-input>
      </li>
      <li class="item-lista">
        <ion-label>Telefone</ion-label>
        <ion-input [(ngModel)]="usuario.telefone"></ion-input>
      </li>
      <li class="item-lista">
        <ion-label>Curso</ion-label>
        <ion-input [(ngModel)]="usuario.curso"></ion-input>
      </li>
    </ul>
    <ion-button
      id="open-toast"
      expand="small"
      class="centered-button"
      (click)="salvarDados()"
      >Salvar</ion-button
    >
    <ion-toast
      trigger="open-toast"
      message="Dados de perfil atualizados!"
      [duration]="3000"
    ></ion-toast>
  </div>
</ion-content>
