<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <div class="container">
    <h2>Dados do Usuário</h2>
    <ul>
      <li class="item-lista">
        <ion-label>Nome</ion-label>
        <ion-input [(ngModel)]="usuario.nome"></ion-input>
      </li>
      <li class="item-lista">
        <ion-label>Idade</ion-label>
        <ion-input type="number" [(ngModel)]="usuario.idade"></ion-input>
      </li>
      <li class="item-lista">
        <ion-label>Peso</ion-label>
        <ion-input type="number" [(ngModel)]="usuario.peso"></ion-input>
      </li>
      <li class="item-lista">
        <ion-label>Altura</ion-label>
        <ion-input
          type="number"
          step="0.01"
          [(ngModel)]="usuario.altura"
        ></ion-input>
      </li>
      <li class="item-lista">
        <ion-label>Curso</ion-label>
        <ion-input [(ngModel)]="usuario.curso"></ion-input>
      </li>
      <!-- Adicione mais campos conforme necessário -->
    </ul>

    <ion-button expand="block" (click)="salvarDados()">Salvar</ion-button>
  </div>
</ion-content>
