<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="home-outline"></ion-icon>
      Feed
    </ion-tab-button>
    <ion-tab-button tab="modalidades">
      <ion-icon name="football-outline"></ion-icon>
      Modalidades
    </ion-tab-button>
    <ion-tab-button tab="campeonatos">
      <ion-icon name="trophy-outline"></ion-icon>
      Campeonatos
    </ion-tab-button>
    <ion-tab-button tab="metas">
      <ion-icon name="flash-outline"></ion-icon>
      Metas
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

