ion-tabs {
  --background: #121214;
}

ion-tab-button {
  color: #7b7b7b;
  margin-top: 5px;
}

ion-tab-bar {
  --background: #121214;
  border-top: 1px solid #0daf7f;
}

ion-tab-button.selected {
    color: #0daf7f; 
}

ion-tab-button ion-icon:hover {
  color: #0daf7f; 
}

ion-label {
  font-size: 0.75rem;
}

.my-icon {
  font-size: 0.5rem;
  // color: var(--text-green);
}