<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" [class.selected]="selectedTab === 'feed'">
      <ion-icon name="home-outline"></ion-icon>
      Feed
    </ion-tab-button>
    <ion-tab-button tab="modalidades" [class.selected]="selectedTab === 'modalidades'">
      <ion-icon name="football-outline"></ion-icon>
      Modalidades
    </ion-tab-button>
    <ion-tab-button tab="campeonatos" [class.selected]="selectedTab === 'campeonatos'">
      <ion-icon name="trophy-outline"></ion-icon>
      Campeonatos
    </ion-tab-button>
    <ion-tab-button tab="metas" [class.selected]="selectedTab === 'metas'">
      <ion-icon name="flash-outline"></ion-icon>
      Metas
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
