<div class="jogadores-container">
  <ul>
    <li
      *ngFor="let academico of filteredJogadores"
      class="jogador"
      (click)="navigateToPerfil()"
    >
      <div class="jogador-header">
        <div class="username">
          <lucide-angular
            [img]="UserRound"
            class="btn-inscrever-se"
            [size]="20"
            color="var(--text-new-green)"
          ></lucide-angular>
          <p class="jogador-nome">{{ academico.username }}</p>
        </div>
        <div class="data">
          <lucide-angular
            [img]="CalendarArrowUp"
            class="btn-inscrever-se"
            [size]="20"
            color="var(--text-light)"
          ></lucide-angular>
          <p class="jogador-data">
            {{ academico.dataCriacao | date : "dd/MM/yy" }}
          </p>
        </div>
      </div>
      <div class="icon-align">
        <lucide-angular
          [img]="Bike"
          class="btn-inscrever-se"
          [size]="20"
          color="var(--purple-desc)"
        ></lucide-angular>
        
        <p class="jogador-curso">
          <strong>{{ getModalidades(academico) }}</strong>
        </p>
      </div>
      <div class="icon-align">
        <lucide-angular
          [img]="Star"
          class="btn-inscrever-se"
          [size]="20"
          color="var(--yellow-desc)"
        ></lucide-angular>
        <p class="jogador-curso"><strong>3.74(140 avaliações) ---> X</strong></p>
      </div>
      <div class="icon-align">
        <lucide-angular
          [img]="Trophy"
          class="btn-inscrever-se"
          [size]="20"
          color="var(--text-orange)"
        ></lucide-angular>
        <p class="jogador-curso"><strong>115 campeonatos ---> X</strong></p>
      </div>
      <div class="icon-align">
        <lucide-angular
          [img]="GraduationCap"
          class="btn-inscrever-se"
          [size]="20"
          color="var(--text-pink)"
        ></lucide-angular>
        <p class="jogador-curso">
          <strong>{{ academico.curso }}</strong>
        </p>
      </div>
      <p class="jogador-foto">{{ academico.foto }}</p>
    </li>
  </ul>
</div>
