<div
  *ngIf="
    estatisticasModalidadeGeral &&
    estatisticasModalidadeGeral.listaEstatisticaPorModalidadeEsportivaDto
      .length > 0
  "
>
  <div
    *ngFor="
      let modalidade of estatisticasModalidadeGeral.listaEstatisticaPorModalidadeEsportivaDto
    "
  >
    <div class="item-lista meta-esportiva meta-completo">
      <div class="estatistica-info">
        <h3 class="titulo-completo">
          {{ modalidade.nomeModalidadeEsportiva }}
          <span class="texto-light">Modalidade Esportiva</span>
        </h3>

        <div class="icon-align">
          <lucide-angular
            [img]="Target"
            class="btn-inscrever-se"
            [size]="20"
            [ngClass]="{
              'icon-completo': true
            }"
          ></lucide-angular>
          <p class="estatistica-descricao">
            Total de Metas Inscritas: {{ modalidade.totalMetasEsportivasInscritas }}
          </p>
        </div>

        <div class="icon-align">
          <lucide-angular
            [img]="CircleDashed"
            class="btn-inscrever-se"
            [size]="20"
            [ngClass]="{
              'icon-completo': true
            }"
          ></lucide-angular>
          <p class="estatistica-progresso">
            Total de Conquistas Alcançadas: {{ modalidade.totalConquistasAlcancadas }}
          </p>
        </div>

        <div class="icon-align">
          <lucide-angular
            [img]="SignalHigh"
            class="btn-inscrever-se"
            [size]="20"
            [ngClass]="{
              'icon-completo': true
            }"
          ></lucide-angular>
          <p class="estatistica-objetivo">
            Total de Campeonatos Criados: {{ modalidade.totalCampeonatosCriados }}
          </p>
        </div>

        <div class="icon-align">
          <lucide-angular
            [img]="SignalHigh"
            class="btn-inscrever-se"
            [size]="20"
            [ngClass]="{
              'icon-completo': true
            }"
          ></lucide-angular>
          <p class="estatistica-objetivo">
            Total de Campeonatos Participados: {{ modalidade.totalCampeonatosParticipados }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Caso não haja dados -->
<div
  *ngIf="
    !estatisticasModalidadeGeral ||
    estatisticasModalidadeGeral.listaEstatisticaPorModalidadeEsportivaDto
      .length === 0
  "
>
  <p>Não há estatísticas de modalidades para exibir.</p>
</div>
