<div>
  <ul>
    <li class="item-lista meta-esportiva completo">
      <p>
        <strong>Metas Concluídas:</strong>
        {{ usuario.estatisticasPessoais.metasConcluidas }}
      </p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-diaria completo">
      <p>
        <strong>Metas Diárias em </strong>Andamento:
        {{ usuario.estatisticasPessoais.metasDiariasEmAndamento }}
      </p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-diaria completo">
      <p>
        <strong>Metas Diárias Con</strong>cluídas:
        {{ usuario.estatisticasPessoais.metasDiariasConcluidas }}
      </p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>Total de Metas: {{ usuario.estatisticasPessoais.totalMetas }}</p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>
        <strong>Total de Metas Me</strong>nsais:
        {{ usuario.estatisticasPessoais.metasMensais.total }}
      </p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-diaria completo">
      <p>
        <strong>Metas Mensais Con</strong>cluídas:
        {{ usuario.estatisticasPessoais.metasMensais.concluidas }}
      </p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-diaria completo">
      <p>
        <strong>Metas Mensais em </strong>Andamento:
        {{ usuario.estatisticasPessoais.metasMensais.emAndamento }}
      </p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>Progresso Geral: {{ usuario.estatisticasPessoais.progressoGeral }}%</p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>Defesas: {{ usuario.estatisticasPessoais.defesas }}</p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>Gols Marcados: {{ usuario.estatisticasPessoais.golsMarcados }}</p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>Assistências: {{ usuario.estatisticasPessoais.assistencias }}</p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>Jogos Jogados: {{ usuario.estatisticasPessoais.jogosJogados }}</p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>Vitórias: {{ usuario.estatisticasPessoais.vitorias }}</p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>Derrotas: {{ usuario.estatisticasPessoais.derrotas }}</p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
    <li class="item-lista meta-geral completo">
      <p>Empates: {{ usuario.estatisticasPessoais.empates }}</p>
      <p><strong>Média da plataforma:</strong> 13</p>
      <p><strong>Desempenho:</strong> 12% acima de outros usuários</p>
    </li>
  </ul>
</div>
