.toolbar-tabs {
  // --background: var(--background-light);
  --background: var(--background-dark);
  border-left: 2px solid var(--light-blue);
  border-top-left-radius: 30px;
}

.toolbar-menu {
  --background: var(--background-dark);
  border-bottom: 1px solid var(--light-blue);
}

ion-menu {
  --background: var(--background-dark);
}

ion-content {
  --background: var(--background-dark);
  // --background: var(--background-light);
  border-left: 2px solid var(--light-blue);
}

ion-item {
  --background: var(--background-dark);
  // --background: var(--background-light);
  color: var(--gray-50);
}

ion-label:hover {
  color: var(--light-blue);
}

.sublist ion-label:hover {
  color: var(--yellow-desc);
}

.logout ion-label:hover {
  color: var(--light-red);
}

ion-title {
  color: var(--light-blue);
}

ion-menu-button {
  color: var(--light-blue);
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;

  .i-tem {
    font-size: 1.5rem;
    color: var(--light-blue);
  }

  .metas {
    font-size: 1.5rem;
    color: var(--purple-desc);
  }
}

.metas-esportivas {
  display: flex;
  align-items: center;
  // margin-left: 15px;
  gap: 10px;
}

.sublist {
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 10px;

  .sub-list {
    color: var(--yellow-desc);
  }
}

.logout {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .log-out {
    color: var(--light-red);
  }
}
