<div class="ion-page" [id]="menuContentId">
  <ion-header>
    <ion-toolbar class="toolbar-menu">
      <ion-buttons slot="end">
        <ion-menu-button [menu]="menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<ion-menu [menuId]="menu" side="end" [contentId]="menuContentId">
  <ion-header>
    <ion-toolbar class="toolbar-tabs">
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <img
      alt="rhino standing near grass"
      src="https://images.unsplash.com/flagged/photo-1556983257-71fddc36bc75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80"
    />
    <ion-list lines="none">
      <ion-item>
        <div class="item">
          <lucide-angular [img]="User" class="i-tem"></lucide-angular>
          <ion-label>Luiz Tozati</ion-label>
        </div>
      </ion-item>

      <!-- Dados gerais -->
      <ion-item>
        <div class="item">
          <lucide-angular [img]="GraduationCap" class="i-tem"></lucide-angular>
          <ion-label>Análise e Desenvolvimento de Sistemas</ion-label>
        </div>
      </ion-item>
      <ion-item>
        <div class="item">
          <lucide-angular [img]="Bell" class="i-tem"></lucide-angular>
          <ion-label routerLink="/pref-notif">Preferências</ion-label>
        </div>
      </ion-item>
      <ion-item>
        <div class="item">
          <lucide-angular [img]="HeartPulse" class="i-tem"></lucide-angular>
          <ion-label routerLink="/canal-saude">Canal Saúde</ion-label>
        </div>
      </ion-item>
      <ion-item>
        <div class="item">
          <lucide-angular
            [img]="ChartNoAxesCombined"
            class="i-tem"
          ></lucide-angular>
          <ion-label routerLink="/perfil-usuario">Estatísticas</ion-label>
        </div>
      </ion-item>
      <ion-item>
        <div class="item">
          <lucide-angular [img]="Settings" class="i-tem"></lucide-angular>
          <ion-label routerLink="/estatisticas">Perfil</ion-label>
        </div>
      </ion-item>

      <!-- Lista Metas diárias -->
      <ion-item>
        <div class="item">
          <lucide-angular [img]="Calendar1" class="metas"></lucide-angular>
          <ion-label>Metas diárias</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div class="sublist">
          <lucide-angular [img]="DiamondPlus" class="sub-list"></lucide-angular>
          <ion-label>Beber 2L de água</ion-label>
        </div>
      </ion-item>
      <ion-item>
        <div class="sublist">
          <lucide-angular [img]="DiamondPlus" class="sub-list"></lucide-angular>
          <ion-label>Correr 2km</ion-label>
        </div>
      </ion-item>

      <!-- Lista Metas Esportivas -->
      <ion-item>
        <div class="item">
          <lucide-angular [img]="Dumbbell" class="metas"></lucide-angular>
          <ion-label>Metas esportivas</ion-label>
        </div>
      </ion-item>
      <ion-item>
        <div class="metas-esportivas">
          <lucide-angular
            [img]="Star"
            class="i-tem"
            style="fill: var(--light-blue)"
          ></lucide-angular>
          <ion-label>Futebol</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div class="sublist">
          <lucide-angular [img]="DiamondPlus" class="sub-list"></lucide-angular>
          <ion-label>Fazer 5 gols</ion-label>
        </div>
      </ion-item>
      <ion-item>
        <div class="sublist">
          <lucide-angular [img]="DiamondPlus" class="sub-list"></lucide-angular>
          <ion-label>Fazer 10 dribles</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div class="metas-esportivas">
          <lucide-angular [img]="Star" class="i-tem"></lucide-angular>
          <ion-label>Vôlei</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div class="sublist">
          <lucide-angular [img]="DiamondPlus" class="sub-list"></lucide-angular>
          <ion-label>Fazer 5 cortes</ion-label>
        </div>
      </ion-item>
      <ion-item>
        <div class="sublist">
          <lucide-angular [img]="DiamondPlus" class="sub-list"></lucide-angular>
          <ion-label>Fazer 5 bloqueios</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div class="logout">
          <lucide-angular [img]="LogOut" class="log-out"></lucide-angular>
          <ion-label>Sair</ion-label>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
