ion-label {
  color: #0daf7f;
}

ion-segment {
  margin-top: 2.5rem;
  --background: #121214;
}

div {
  h2,
  p {
    color: white;
  }
}

.alerta-cancelar {
  --background: #e63946;
}
.alerta-inscrever {
  --background: #0daf7f;
}