ion-label {
  color: var(--light-blue);
}

ion-button {
  --background: var(--light-blue);
}

ion-segment {
  margin-top: 2.5rem;
  --background: #121214;
}

.container {
  margin-top: 2.5rem;
}

.card {
  background-color: var(--background-dark);
  border-radius: 8px;
  border-right: 2px solid var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
  padding: 1rem;
  color: white;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  margin-top: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
}

h2,
h3,
p {
  text-align: center;
  margin: 0.5rem 0;
  color: rgba(255, 255, 255, 0.9);
}

.custom-select-container {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  // border-right: 1px solid var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
}

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.custom-select {
  background-color: #202024;
  color: var(--light-blue);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}
.custom-select:focus {
  outline: none;
}

.caret-icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btn-center {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

ion-button {
  width: 100%;
}
