<div class="publicacoes-container">
  <ul>
    <li
      *ngFor="let publicacao of academicos.listaPublicacao"
      class="publicacao"
    >
      <div class="publicacao-header">
        <p class="usuario-username">{{ publicacao.Usuario.username }}</p>
        <p class="data">
          {{ publicacao.dataPublicacao | date : "dd/MM/yy, hh:mm" }}
        </p>
      </div>
      <div class="publicacao-usuario">
        <p class="descricao">{{ publicacao.descricao }}</p>
        <div class="curtidas">
          <div class="curtidas-info" (click)="curtir(publicacao)">
            <ion-icon
              [name]="publicacao.isCurtiu ? 'heart' : 'heart-outline'"
            ></ion-icon>
            <span>{{ publicacao.listaUsuarioCurtida.length }}</span>
          </div>
        </div>
      </div>
      <div class="publicacao-interacoes">
        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header" class="comentarios-header">
              <ion-label>Comentários</ion-label>
            </ion-item>
            <div slot="content">
              <ul>
                <li
                  class="li-comentarios"
                  *ngFor="let comentario of publicacao.listaComentario"
                >
                  <div class="comentario-header">
                    <p class="comentario-usuario">
                      {{ comentario.Usuario.username }}
                    </p>
                    <p class="comentario-data">
                      {{ comentario.dataComentario | date : "dd/MM/yy, hh:mm" }}
                    </p>
                  </div>
                  <p class="comentario-descricao">{{ comentario.descricao }}</p>
                  <div class="comentario-curtidas">
                    <div
                      class="curtidas-info"
                      (click)="curtirComentario(comentario)"
                    >
                      <ion-icon
                        [name]="comentario.isCurtiu ? 'heart' : 'heart-outline'"
                      ></ion-icon>
                      <span>{{ comentario.listaUsuarioCurtida.length }}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </li>
  </ul>
</div>
