.publicacoes-container {
  padding: 16px;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

li {
  background-color: var(--background-dark);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  border-right: 2px solid var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
  // box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  // transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.publicacao-header,
.comentario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.descricao,
.comentario-descricao {
  font-size: 16px;
  color: var(--text-white);
}

.data,
.comentario-data {
  font-size: 12px !important;
  color: var(--text-light) !important;
}

.publicacao-usuario {
  margin-bottom: 26px;
}

.usuario-nome,
.usuario-username {
  font-size: 14px;
  color: var(--text-highlight);
}

.publicacao-interacoes {
  border-top: 1px solid var(--text-light);
  padding-top: 16px;
}

.curtidas-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: var(--text-green);
  cursor: pointer;
  position: relative; /* Add this line */
  z-index: 10; /* Add a higher z-index */
}

.curtidas-info ion-icon {
  margin-right: 8px;
  font-size: 20px;
}

.curtidas-info span {
  font-size: 14px;
}

.interacao-header {
  font-size: 14px;
  color: var(--text-green);
  margin-bottom: 8px;
}

.li-curtidas,
.li-comentarios,
.li-curtidas-comentarios {
  background-color: var(--background-light);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.li-curtidas p,
.li-comentarios p,
.li-curtidas-comentarios p {
  font-size: 14px;
  color: var(--text-white);
}

.comentario-usuario {
  font-size: 14px;
  color: var(--text-light) !important;
  margin-bottom: 8px;
}

.comentario-curtidas {
  margin-top: 10px;
}

@media (max-width: 375px) {
  li {
    padding: 12px;
  }

  .descricao,
  .comentario-descricao {
    font-size: 14px;
  }

  .usuario-nome,
  .usuario-username,
  .comentario-usuario {
    // font-size: 12px !important;
    // color: var(--text-white);
    color: var(--text-new-green);
  }

  .curtidas-info ion-icon {
    font-size: 18px;
  }

  .curtidas-info span {
    font-size: 12px;
  }
}

.comentarios-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publicacao-usuario .comentarios-header {
  font-weight: bold;
  color: var(--text-green);
}

.comentarios-header ion-label {
  font-size: 16px;
  color: var(--text-highlight);
}

.comentarios-header ion-icon {
  font-size: 20px;
  color: var(--text-light);
}

ion-accordion {
  background-color: var(--background-dark);
}

div[slot="header"] {
  background: var(--background-dark);
}

ion-item {
  --background: var(--background-dark);
  color: var(--text-green);
}

.btn-inscrever-se {
  margin-left: 5px;
}

.icon-button .text-container {
  display: flex;
  align-items: center;
}

.icon-align {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.icon-align lucide-angular {
  margin-right: 5px;
}

.icon-align p {
  margin: 0;
  color: var(--text-white);
  font-size: 1rem;
}

ion-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 16px;
  --background: var(--text-white);
  --color: var(--background-dark);
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.icon-align {
  display: flex;
  align-items: center;
}

.text-gray {
  color: gray;
}
.yellow-desc {
  color: var(--yellow-desc); /* Use the same yellow as the star icon */
}

/* Manter o sublinhado no texto das curtidas, mesmo quando a estrela é dourada */
.link-curtidas {
  color: var(--text-highlight); /* Cor normal para o texto */
  text-decoration: underline; /* Texto sublinhado */
  cursor: pointer; /* Cursor de pointer */
  margin-left: 8px; /* Pequeno espaçamento */
  font-size: 14px; /* Tamanho da fonte */
}

.text-gray {
  color: gray;
}

.yellow-desc {
  color: var(--yellow-desc); /* Cor dourada */
}

/* Manter o sublinhado para a estrela dourada também */
.curtidas-info .yellow-desc {
  text-decoration: underline !important; /* Força o sublinhado quando a estrela é dourada */
}

/* Manter o sublinhado para os comentários também */
.comentario-curtidas span {
  text-decoration: underline; /* Texto sublinhado */
}

.comentario-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comentario-card {
  background-color: var(--background-light);
  padding: 16px; /* Adicionado padding ao card */
  border-radius: 8px;
  border-right: 2px solid var(--text-orange);
  border-bottom: 2px solid var(--text-orange);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  margin-top: 16px;
  display: flex;
  flex-direction: column; /* Garantir que os elementos fiquem em coluna */
  align-items: center; /* Centralizar os elementos dentro do card */
  justify-content: flex-start; /* Certificar-se de que o conteúdo comece do topo */
}

.comentario-input {
  width: 100%; /* Garantir que o input ocupe toda a largura do card */
  padding: 8px;
  height: 10rem; /* Aumentar a altura do input */
  border: none;
  border-radius: 4px;
  background-color: var(--background-dark);
  color: var(--text-white);
  font-size: 14px;
  margin-bottom: 8px; /* Adicionar espaçamento entre o input e o botão */
  --placeholder-color: rgba(255, 255, 255, 0.7); /* Placeholder styling */
  --placeholder-font-style: italic;
}

.comentario-input::placeholder {
  color: var(--placeholder-color);
}

.comentario-input:focus {
  // background-color: rgba(41, 128, 185, 0.4);
  transform: translateY(-2px);
  outline: none;
}

.comentar-button {
  width: auto; /* O botão agora tem largura automática */
  padding: 8px 16px; /* Define padding adequado ao tamanho do texto */
  background-color: var(--text-white);
  color: var(--background-dark);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: block; /* Garante que o botão seja um bloco */
  margin-top: 8px; /* Adicionado espaçamento entre o input e o botão */
  align-self: center; /* Alinha o botão à direita */
}

.comentar-button:hover {
  // background-color: var(--highlight-color); /* Mudar para cor de hover */
  color: var(--background-dark);
}

/* Adicionar estilos específicos para textarea */
textarea.styled-textarea {
  background-color: var(--background-dark);
  border-radius: 5px;
  color: var(--text-white);
  padding: 0.5rem;
  margin-top: 10px;
  border-right: 2px solid var(--text-orange);
  border-bottom: 2px solid var(--text-orange);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  height: 4rem; /* Altura ajustada */
  resize: none;
}

textarea.styled-textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

textarea.styled-textarea:focus {
  // background-color: rgba(41, 128, 185, 0.4);
  transform: translateY(-2px);
  outline: none;
}

/* Específico para textarea do título */
textarea.styled-textarea.titulo-input {
  height: 5rem; /* Altura ajustada */
}


p {
  color: var(--text-orange);
  margin-bottom: 1px;
}

.no-padding-button {
  padding: 0 !important;
}

.icon-align .usuario-username {
  color: var(--text-new-green);
}