<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="criacao">
      <ion-label>Criação</ion-label>
    </ion-segment-button>
    <ion-segment-button value="listagem">
      <ion-label>Listagem</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'criacao'">
    <div class="container">
      <ul>
        <li class="item-lista">
          <ion-label>Título</ion-label>
          <ion-input [(ngModel)]="novaMeta.titulo"></ion-input>
        </li>
        <li class="item-lista">
          <ion-label>Descrição</ion-label>
          <ion-input [(ngModel)]="novaMeta.descricao"></ion-input>
        </li>
      </ul>
      <div class="button-container">
        <ion-button
          id="open-toast"
          expand="small"
          class="centered-button"
          (click)="salvarMeta()"
          >Salvar</ion-button
        >
      </div>
      <ion-toast
        trigger="open-toast"
        message="Meta criada com sucesso!"
        [duration]="3000"
      ></ion-toast>
    </div>
  </div>

  <div *ngIf="selectedSegment === 'listagem'">
    <ion-item lines="none">
      <ion-label>Esportivas</ion-label>
      <ion-toggle
        slot="end"
        (ionChange)="toggleFilterEsportivas($event)"
        [checked]="filterEsportivas"
      ></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Diárias</ion-label>
      <ion-toggle
        slot="end"
        (ionChange)="toggleFilterDiarias($event)"
        [checked]="filterDiarias"
      ></ion-toggle>
    </ion-item>
    <ul>
      <li
        *ngFor="let meta of filteredMetas"
        class="item-lista"
        [ngClass]="{
          'meta-esportiva': meta.tipo === 'esportiva',
          'meta-diaria': meta.tipo === 'diaria'
        }"
      >
        <h3
          [ngClass]="{
            'titulo-esportiva': meta.tipo === 'esportiva',
            'titulo-diaria': meta.tipo === 'diaria'
          }"
        >
          {{ meta.nome || meta.esporte }}
          <span class="texto-light">{{ meta.tipo | titlecase }}</span>
        </h3>
        <p *ngFor="let opcao of meta.opcoes || meta.metas">{{ opcao }}</p>
      </li>
    </ul>
  </div>
</ion-content>
