/* Estilos gerais */
ion-label {
  color: #0daf7f;
}

ion-segment {
  margin-top: 2.5rem;
  --background: #121214;
}

/* Estilos para a lista */
ul {
  margin: 0; /* Remove margem padrão */
  margin-top: 15px;
  padding: 0; /* Remove padding padrão */
  list-style-type: none; /* Remove os marcadores da lista */
}

.item-lista {
  background-color: #1c1c1e;
  border-bottom: 1px solid white; /* Borda inferior */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 1rem; /* Padding para os itens */
  margin-bottom: 1rem; /* Espaçamento entre os itens */
  color: white; /* Cor da fonte */
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* Sombra clara */
  transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
}

.item-lista:hover {
  background-color: rgba(
    41,
    128,
    185,
    0.4
  ); /* Mudança de fundo ao passar o mouse */
  transform: translateY(-2px); /* Leve elevação ao passar o mouse */
}

.item-lista h3 {
  margin: 0; /* Remove margem do título */
  display: flex;
  justify-content: space-between; /* Alinha nome e tipo */
  align-items: center; /* Alinha verticalmente */
}

.titulo-esportiva {
  color: #0daf7f; /* Verde para metas esportivas */
  font-size: 1.25rem;
}

.titulo-diaria {
  color: #e63946; /* Vermelho para metas diárias */
  font-size: 1.25rem;
}

.item-lista p {
  margin: 0.25rem 0; /* Margens para os parágrafos */
  color: rgba(255, 255, 255, 0.9); /* Cor do texto */
}

.meta-esportiva {
  border-left: 4px solid #0daf7f; /* Borda para meta esportiva */
}

.meta-diaria {
  border-left: 4px solid #e63946; /* Borda para meta diária */
}

.container {
  margin-top: 2.5rem;
}

/* Estilos adicionais para os toggles */
ion-toggle {
  color: #fff;
  --handle-width: 20px;
  --handle-height: 20px;
  --track-background: #d2caca;
  --track-background-checked: #333337;
  --handle-background: #fff;
  --handle-background-checked: #0daf7f;
  margin-right: 2rem;
}

ion-item {
  --background: #202024;
  color: #0daf7f;
}

.texto-light {
  font-size: 0.8rem; /* Ajuste o tamanho conforme necessário */
  color: var(--text-light); /* Usando a variável CSS para a cor */
}

/* Estilos para a criação de metas */

.centered-button {
  --background: #0daf7f;
  width: 100%;
  max-width: 300px; /* Define uma largura máxima para o botão */
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-top: 1rem;
}

.button-container {
  display: flex; /* Flexbox para centralização */
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 1rem; /* Espaçamento acima do botão */
}

.item-lista ion-label {
  color: #0daf7f;
  margin-bottom: 0.5rem;
}

ion-button {
  --background: #0daf7f;
  width: 100%;
  display: flex;
  justify-content: center;
}

ion-segment {
  margin-top: 2.5rem;
  --background: #121214;
}

div {
  h2,
  p {
    color: white;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item-lista2 {
  border-radius: 8px;
  padding: 1rem;
  color: white;
}

.item-lista2:hover {
  background-color: #2e2e2e;
  transform: translateY(-2px);
}

.item-lista2 ion-label {
  color: var(--text-light);
}

.item-lista2 ion-input {
  background-color: #2e2e2e;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
  margin-top: 10px;
}

.item-lista2 ion-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.container {
  margin-top: 1rem;
}

.centered-button {
  --background: #0daf7f;
  width: 100%;
  max-width: 300px; /* Define uma largura máxima para o botão */
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-top: 1rem;
}

ion-input {
  border-right: 1px solid #0daf7f;
  border-bottom: 1px solid #0daf7f;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* Sombra clara */
  transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
}
