<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="criacao">
      <ion-label>Criação</ion-label>
    </ion-segment-button>
    <ion-segment-button value="listagem">
      <ion-label>Listagem</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'criacao'">
    <div class="container">
      <ul>
        <li class="item-lista2">
          <div class="icon-align">
            <lucide-angular
              [img]="CaseUpper"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--text-light)'"
            ></lucide-angular>
            <ion-label>Título</ion-label>
          </div>
          <ion-textarea
            [(ngModel)]="metaDiaria2.titulo"
            placeholder="Exemplo: Hidrate-se"
          ></ion-textarea>
        </li>
        <li class="item-lista2">
          <div class="icon-align">
            <lucide-angular
              [img]="NotebookText"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--text-light)'"
            ></lucide-angular>
            <ion-label>Descrição</ion-label>
          </div>
          <ion-textarea
            [(ngModel)]="metaDiaria2.objetivo"
            placeholder="Exemplo: Beber 2 litros de água"
          ></ion-textarea>
        </li>
        <li class="item-lista2">
          <div class="icon-align">
            <lucide-angular
              [img]="Target"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--text-light)'"
            ></lucide-angular>
            <ion-label>Objetivo</ion-label>
          </div>
          <ion-input
            [(ngModel)]="metaDiaria2.progressoMaximo"
            placeholder="Exemplo: 2"
          ></ion-input>
        </li>
        <li class="item-lista2">
          <div class="icon-align">
            <lucide-angular
              [img]="Ruler"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--text-light)'"
            ></lucide-angular>
            <ion-label>Medida</ion-label>
          </div>
          <ion-input
            [(ngModel)]="metaDiaria2.progressoItem"
            placeholder="Exemplo: Litros, Quilômetros, Páginas"
          ></ion-input>
        </li>
      </ul>

      <ion-button
        id="open-toast"
        expand="small"
        class="centered-button"
        (click)="salvarDados()"
      >
        <div class="icon-align">
          <lucide-angular
            [img]="Pencil"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--background-dark)'"
          ></lucide-angular>
          <p>Criar</p>
        </div>
      </ion-button>

      <ion-toast
        trigger="open-toast"
        message="Meta criada com sucesso!"
        [duration]="3000"
      ></ion-toast>
    </div>
  </div>

  <!-- Listagem -->

  <div *ngIf="selectedSegment === 'listagem'">
    <ion-item lines="none">
      <div class="align-diarias">
        <div class="icon-label">
          <lucide-angular
            [img]="Clock4"
            class="btn-inscrever-se"
            [size]="20"
          ></lucide-angular>
          <ion-label class="label-titulo">Diárias</ion-label>
        </div>
        <ion-toggle
          class="toggle-diarias"
          slot="end"
          (ionChange)="toggleFilterDiarias($event)"
          [checked]="filterDiarias"
        ></ion-toggle>
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="align-esportivas">
        <div class="icon-label">
          <lucide-angular
            [img]="BicepsFlexed"
            class="btn-inscrever-se"
            [size]="20"
          ></lucide-angular>
          <ion-label class="label-titulo">Esportivas</ion-label>
        </div>
        <ion-toggle
          class="toggle-esportivas"
          slot="end"
          (ionChange)="toggleFilterEsportivas($event)"
          [checked]="filterEsportivas"
        ></ion-toggle>
      </div>
    </ion-item>

    <ul>
      <li
        *ngFor="let meta of metaDiaria"
        class="item-lista"
        [ngClass]="{
          'meta-esportiva': filteredMetas[0].tipo === 'esportiva',
          'meta-diaria': filteredMetas[0].tipo === 'diaria'
        }"
      >
        <h3
          [ngClass]="{
            'titulo-esportiva': filteredMetas[0].tipo === 'esportiva',
            'titulo-diaria': filteredMetas[0].tipo === 'diaria'
          }"
        >
          {{ meta.titulo || filteredMetas[0].esporte }}
          <span class="texto-light"
            >{{ filteredMetas[0].tipo | titlecase }}</span
          >
        </h3>

        <div *ngIf="meta.titulo">
          <p>
            <strong>Objetivo:</strong> {{ meta.objetivo || 'Não definido' }}
          </p>
          <p>
            <strong>Progresso:</strong> {{ meta.progressoAtual }} / {{
            meta.progressoMaximo }} {{ meta.progressoItem }}
          </p>

          <!-- <p>
            <strong>Quantidade Concluída:</strong> {{ meta.quantidadeConcluido
            }} {{ meta.progressoItem }}
          </p> -->
          <p>
            <strong>Situação:</strong> {{ meta.situacaoMetaDiaria === 0 ?
            'Pendente' : 'Concluída' }}
          </p>
        </div>

        <div class="button-group">
          <!-- Botão de Editar -->
          <ion-button
            expand="small"
            class="centered-button meta-button"
            (click)="abrirModalEditar(meta)"
          >
            <div class="icon-align">
              <lucide-angular
                [img]="SquarePen"
                class="btn-inscrever-se"
                [size]="20"
                [color]="'var(--background-dark)'"
              ></lucide-angular>
            </div>
          </ion-button>

          <!-- Botão de Confirmar -->
          <ion-button
            expand="small"
            class="centered-button meta-button"
            (click)="concluirMeta(meta)"
          >
            <div class="icon-align">
              <lucide-angular
                [img]="SquareCheckBig"
                class="btn-inscrever-se"
                [size]="20"
                [color]="'var(--background-dark)'"
              ></lucide-angular>
            </div>
          </ion-button>

          <!-- Botão de Excluir -->
          <ion-button
            expand="small"
            class="centered-button meta-button"
            (click)="excluirMeta(meta)"
          >
            <div class="icon-align">
              <lucide-angular
                [img]="Trash2"
                class="btn-inscrever-se"
                [size]="20"
                [color]="'var(--background-dark)'"
              ></lucide-angular>
            </div>
          </ion-button>
        </div>
      </li>
    </ul>
  </div>

  <app-modal-editar-meta-diaria
    *ngIf="modalEditarVisivel"
    [meta]="metaParaEditar"
    (close)="fecharModal()"
  ></app-modal-editar-meta-diaria>
</ion-content>
