<ion-content class="ion-padding">
  <app-menu-perfil
    [title]="pageTitle"
    [menu]="pageMenu"
    [menuContentId]="pageContent"
  ></app-menu-perfil>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="criacao">
      <ion-label>Criação</ion-label>
    </ion-segment-button>
    <ion-segment-button value="listagem">
      <ion-label>Listagem</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'criacao'">
    <h2>Criação</h2>
    <p>Conteúdo relacionado a criação de metas.</p>
  </div>

  <div *ngIf="selectedSegment === 'listagem'">
    <h2>Listagem</h2>
    <p>Conteúdo relacionado a listagem das metas.</p>
  </div>
</ion-content>
