.cadeado-icon {
  color: var(--text-green);
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 8px;
}

.campeonatos-container {
  padding: 16px;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.campeonato {
  background-color: var(--background-dark);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
  position: relative;
  z-index: 1;
  border-right: 2px solid var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.campeonato-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.campeonato-nome {
  font-size: 1.25rem;
  color: var(--text-green);
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.campeonato-curso {
  font-size: 14px;
  color: var(--text-white);
}

.campeonato-data {
  font-size: 12px;
  color: var(--text-light);
}

.campeonato-foto {
  font-size: 12px;
  color: var(--text-light);
  margin-top: 4px;
}

.campeonato-interacoes {
  border-top: 1px solid var(--text-light);
  padding-top: 16px;
  color: var(--text-light);
}

.detalhes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detalhes-header ion-label {
  font-size: 16px;
  color: var(--text-highlight);
}

ion-accordion {
  background-color: var(--background-dark);
}

div[slot="header"] {
  background: var(--background-dark);
}

ion-item {
  --background: var(--background-dark);
  color: var(--text-green);
}

@media (max-width: 375px) {
  .campeonato {
    padding: 12px;
  }

  .campeonato-data,
  .campeonato-foto {
    font-size: 10px;
  }
}

.header {
  color: var(--text-white);
}

ion-button {
  margin-top: 16px;
  --background: var(--text-green);
  --color: var(--text-white);
}

.endereco {
  border-top: 1px solid var(--text-light);
}

.detalhes strong {
  color: var(--yellow-desc);
}

.endereco strong {
  color: var(--light-red);
}

.header strong {
  color: var(--purple-desc);
}

ion-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.icon-button .text-container {
  display: flex;
  align-items: center;
}

.btn-inscrever-se {
  margin-left: 5px;
}

.icon-align {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
