<ion-content [fullscreen]="true">
  <form #formLogin="ngForm">
    <div class="container">
      <h1>Sportfy</h1>
      <p>Faça seu cadastro abaixo.</p>
      <ion-list lines="none">
        <ion-item>
          <div class="icon-align">
            <lucide-angular
              [img]="User"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--yellow-desc)'"
            ></lucide-angular>
          </div>
          <ion-input
            type="text"
            name="nome"
            id="nome"
            placeholder="Nome Completo"
            [(ngModel)]="academico.nome"
            #nome="ngModel"
          ></ion-input>
        </ion-item>

        <ion-item>
          <div class="icon-align">
            <lucide-angular
              [img]="ALargeSmall"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--yellow-desc)'"
            ></lucide-angular>
          </div>
          <ion-input
            type="text"
            name="username"
            id="username"
            placeholder="Nome de Usuario"
            [(ngModel)]="academico.username"
            #username="ngModel"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <div class="icon-align">
            <lucide-angular
              [img]="AtSign"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--yellow-desc)'"
            ></lucide-angular>
          </div>
          <ion-input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail@ufpr.br"
            [(ngModel)]="academico.email"
            #email="ngModel"
          ></ion-input>
        </ion-item>

        <ion-item>
          <div class="icon-align">
            <lucide-angular
              [img]="Phone"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--yellow-desc)'"
            ></lucide-angular>
          </div>
          <ion-input
            type="number"
            name="telefone"
            id="telefone"
            placeholder="Telefone"
            [(ngModel)]="academico.telefone"
            #telefone="ngModel"
          ></ion-input>
        </ion-item>

        <ion-item>
          <div class="icon-align">
            <lucide-angular
              [img]="CalendarArrowUp"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--yellow-desc)'"
            ></lucide-angular>
          </div>
          <ion-input
            type="date"
            id="dataNascimento"
            name="dataNascimento"
          
            [(ngModel)]="academico.dataNascimento"
            #dataNascimento
            class="styled-input"
          ></ion-input>
        </ion-item>

        <ion-item id="curso">
          <div class="icon-align">
            <lucide-angular
              [img]="GraduationCap"
              class="btn-inscrever-se"
              [size]="20"
              [color]="'var(--yellow-desc)'"
            ></lucide-angular>
          </div>
          <ion-input
            type="text"
            name="curso"
            id="curso"
            placeholder="Curso"
            [(ngModel)]="academico.curso"
            #curso="ngModel"
            class="styled-input"
          ></ion-input>
        </ion-item>
      </ion-list>

      <!-- <p>Gênero:</p>
      <ion-radio-group
        [(ngModel)]="academico.genero"
        [allowEmptySelection]="false"
        name="genero"
      >
        <ion-radio value="feminino" labelPlacement="end">Feminino</ion-radio
        ><br />
        <ion-radio value="masculino" labelPlacement="end">Masculino</ion-radio
        ><br />
        <ion-radio value="outro" labelPlacement="end">Outro</ion-radio><br />
      </ion-radio-group> -->

      <ion-button
        size="small"
        expand="block"
        (click)="cadastrar()"
        class="icon-button"
      >
        <div class="text-container">Registrar</div>
        <div class="icon-align">
          <lucide-angular
            [img]="SaveAll"
            class="btn-inscrever-se"
            [size]="20"
          ></lucide-angular>
        </div>
      </ion-button>
      <p>Já possui uma conta? <a routerLink="/login">Log in</a></p>
    </div>
  </form>
</ion-content>
