.container {
  padding: 2rem;
  height: 100vh;
  background-color: #202024;

  h1 {
    color: var(--light-blue);
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
  }

  p {
    color: #7b7b7b;
  }

  p a {
    color: var(--light-blue);
    text-decoration: none;
  }

  ion-button {
    margin-top: 1.5rem;
    --background: var(--light-blue);
  }

  ion-item {
    --background: #121214;
    color: var(--gray-50);
    --border-radius: 5px;
    margin-bottom: 15px;
    --padding-bottom: 10px;
    --padding-top: 10px;
  }

  ion-icon {
    color: var(--light-blue);
  }

  ion-radio-group {
    color: var(--gray-50);
  }

  ion-list {
    margin-bottom: 15px;
    background-color: #202024;
    border-radius: 5px;
  }

  ion-icon {
    margin-right: 15px;
  }

  ion-radio {
    --border-radius: 4px;
    --color: #ddd;
    --color-checked: var(--light-blue);
    --inner-border-radius: 4px;
  }
  
  ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;
  
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  
  .radio-checked.ios::part(container) {
    border-color: var(--light-blue);
  }
}