<div
  *ngIf="message"
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<ion-content [fullscreen]="true">
  <form #formLogin="ngForm">
    <div class="container">
      <h1>Sportfy</h1>
      <p>Faça seu cadastro abaixo.</p>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-input
            type="text"
            name="nome"
            id="nome"
            placeholder="Nome Completo"
            [(ngModel)]="academico.nome"
            #nome="ngModel"
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail@ufpr.br"
            [(ngModel)]="academico.email"
            #email="ngModel"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input
            type="password"
            name="password"
            id="password"
            placeholder="Senha"
            [(ngModel)]="academico.password"
            #password="ngModel"
          ></ion-input>
        </ion-item>
      </ion-list>
      <p>Gênero:</p>
      <ion-radio-group [allowEmptySelection]="false" value="masculino">
        <ion-radio value="feminino" labelPlacement="end">Feminino</ion-radio
        ><br />
        <ion-radio value="masculino" labelPlacement="end">Masculino</ion-radio
        ><br />
        <ion-radio value="outro" labelPlacement="end">Outro</ion-radio><br />
      </ion-radio-group>
      <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
      <p>Já possui uma conta? <a routerLink="/login">Log in</a></p>
    </div>
  </form>
</ion-content>
