<ion-content [fullscreen]="true">
  <form #formLogin="ngForm">
    <div class="container">
      <h1>Sportfy</h1>
      <p>Faça seu cadastro abaixo.</p>
      <ion-list lines="none">
        <div class="icon-align">
          <lucide-angular
            [img]="User"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--yellow-desc)'"
          ></lucide-angular>
          <ion-label>Nome</ion-label>
        </div>
        <ion-item>
          <ion-input
            type="text"
            name="nome"
            id="nome"
            placeholder="Exemplo: Carlos Roberto"
            [(ngModel)]="academico.nome"
            #nome="ngModel"
          ></ion-input>
        </ion-item>

        <div class="icon-align">
          <lucide-angular
            [img]="ALargeSmall"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--yellow-desc)'"
          ></lucide-angular>
          <ion-label>Usuário</ion-label>
        </div>
        <ion-item>
          <ion-input
            type="text"
            name="username"
            id="username"
            placeholder="Exemplo: carlos_ro"
            [(ngModel)]="academico.username"
            #username="ngModel"
          ></ion-input>
        </ion-item>

        <div class="icon-align">
          <lucide-angular
            [img]="AtSign"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--yellow-desc)'"
          ></lucide-angular>
          <ion-label>E-mail</ion-label>
        </div>
        <ion-item lines="none">
          <ion-input
            type="email"
            name="email"
            id="email"
            placeholder="Exemplo: carlos.roberto@ufpr.br"
            [(ngModel)]="academico.email"
            #email="ngModel"
          ></ion-input>
        </ion-item>

        <div class="icon-align">
          <lucide-angular
            [img]="Phone"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--yellow-desc)'"
          ></lucide-angular>
          <ion-label>Telefone</ion-label>
        </div>
        <ion-item>
          <ion-input
            type="number"
            name="telefone"
            id="telefone"
            placeholder="Exemplo: (41) 9 9214-4435"
            [(ngModel)]="academico.telefone"
            #telefone="ngModel"
          ></ion-input>
        </ion-item>

        <div class="icon-align">
          <lucide-angular
            [img]="CalendarArrowUp"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--yellow-desc)'"
          ></lucide-angular>
          <ion-label>Data de Nascimento</ion-label>
        </div>

        <ion-item>
          <ion-input
            type="date"
            id="dataNascimento"
            name="dataNascimento"
            [(ngModel)]="academico.dataNascimento"
            #dataNascimento
            class="styled-input"
          ></ion-input>
        </ion-item>

        <div class="icon-align">
          <lucide-angular
            [img]="GraduationCap"
            class="btn-inscrever-se"
            [size]="20"
            [color]="'var(--yellow-desc)'"
          ></lucide-angular>
          <ion-label>Curso</ion-label>
        </div>

        <ion-item id="curso item-lista">
          <div class="input-space">
            <div *ngIf="cursos.length > 0">
              <!-- Só exibe quando cursos estiver carregado -->
              <select
                class="custom-select"
                id="modalidade-select"
                [(ngModel)]="academico!.curso"
              >
                <!-- Opção placeholder -->
                <option value="" disabled selected>Selecione o curso</option>
                
                <!-- Lista de cursos -->
                <option *ngFor="let curso of cursos" [value]="curso">
                  {{ curso }}
                </option>
              </select>
            </div>
          </div>
        </ion-item>
        
      </ion-list>

      <!-- <p>Gênero:</p>
      <ion-radio-group
        [(ngModel)]="academico.genero"
        [allowEmptySelection]="false"
        name="genero"
      >
        <ion-radio value="feminino" labelPlacement="end">Feminino</ion-radio
        ><br />
        <ion-radio value="masculino" labelPlacement="end">Masculino</ion-radio
        ><br />
        <ion-radio value="outro" labelPlacement="end">Outro</ion-radio><br />
      </ion-radio-group> -->

      <ion-button
        size="small"
        expand="block"
        (click)="cadastrar()"
        class="icon-button"
      >
        <div class="text-container">Registrar</div>
        <div class="icon-align2">
          <lucide-angular
            [img]="SaveAll"
            class="btn-inscrever-se"
            [size]="20"
          ></lucide-angular>
        </div>
      </ion-button>
      <p class="margin-bot">Já possui uma conta? <a routerLink="/login">Log in</a></p>
    </div>
  </form>
</ion-content>
